<div class="store-container">
  <div class="cart">
    <h2>Drag here to add to Kart</h2>
  </div>
  <p class="notice">Item added to Kart</p>
  <div id="columns">
    <% @items.each do |item| %>
    <div class="item-holder">
      <div class="pic"><%= link_to image_tag(item.pic), item %></div>
      <p class="name"><%= link_to item.name, item %></p>
      <p class="price"><i class="fa fa-money"></i> $<%= item.price %></p>
 	</div>
    <% end %>
</div>
</div>

