<div class="store-container">
  <div id="columns">
    <% @items.each do |item| %>
    <div class="item-holder" id="draggable">
      <div class="pic"><%= link_to image_tag(item.pic), item %></div>
      <p class="name"><%= link_to item.name, item %></p>
      <p class="price"><i class="fa fa-money"></i> $<%= item.price %></p>
 	</div>
    <% end %>
</div>
</div>

