<div class="store-container">
    <% @items.each do |item| %>
    <div class="item-holder">
      <div class="pic"><%= image_tag(item.pic) %></div><br>
      <p class="name"><%= link_to item.name, item %></p>
      <p class="price"><%= item.price %></p>
      </div>
    <% end %>
  </ul>
</div>

