

body {
	background-image: url('squairy_light.png') !important;
	// fuck foundation for making me have to use !important.
	text-align: center;
}

#mycart {
	&:hover {
		
	}
}

.nav-container {
	max-width: 960px;
	margin: 0px auto;
	height: 100%;
	margin-bottom: 40px;
	margin-top: 25px;
	min-width: 600px;
}

#nav-columns {
	-webkit-column-count: 4;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 4;
	column-gap: 15px;
	column-fill: auto;
}

	.nav-item {
		display: inline-block;
		font-size: 12pt;
		background: gray;
		color: black !important;
		padding: 5px;
		width: 100%;

		&:hover {
			color: transparentize(blue, .4) !important;
		}
	
	}



.container {
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
}

#columns {
	-webkit-column-count: 4;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 4;
	column-gap: 15px;
	column-fill: auto;
}

@media screen and (max-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media screen and (max-width: 715px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media screen and (max-width: 480px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

.form {

	padding: 10px;
	position: relative;
	width: 465px;
	margin: 0 auto;
	background: white;
	box-shadow: 0px 0px 4px black;
	border-radius: 2px;
}

.email, .password {

	label {
		position: absolute;
		margin-left: 50px;
		width: 80px;
		text-align: right;
	}
	.login {
		margin: 10px;
		width: 200px;
		margin-left: 150px;
	}
}


.sign_in {
		margin-left: 200px;
		width: 100px;
}

.links {
	position: absolute;
	top: 80%;
	font-size: 10pt;
}

#logo {
	color: rgb(85,43,186);
	width: 100%;
	font-size: 50pt;
	margin: 10px;
	text-align: center;
}

.rockets {
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	li {
		display: inline-block;
	}
	min-width: 550px;
}

.logo-name {
	font-family: 'Frijole', cursive;
}

@media screen and (max-width: 775px) {
	.detail {
		position: absolute !important;
		left: 0  !important;
	}
}

@media screen and (max-width: 320px) {
	.nav-container {
		width: 320px;
		min-width: 0;
	}
}