body {
	background-image: url('squairy_light.png') !important;
	// fuck foundation for making me have to use !important.
}

i {
	color: white;
	font-size: 25pt;
	padding-top: 3px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
}

#columns {
	-webkit-column-count: 4;
	-webkit-column-gap: 2px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 2px;
	-moz-column-fill: auto;
	column-count: 4;
	column-gap: 2px;
	column-fill: auto;
}

@media screen and (max-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media screen and (max-width: 715px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media screen and (max-width: 480px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

.form {

	padding: 10px;
	position: relative;
	top: 100px;
	width: 400px;
	margin: 0 auto;
	box-shadow: 0px 0px 4px black;
	border-radius: 2px;
}

.email, .password {

	label {
		position: absolute;
		margin-left: 50px;
		width: 80px;
		text-align: right;
	}
	.login {
		margin: 10px;
		width: 200px;
		margin-left: 150px;
	}
}

.remember {
	position: relative;
	left: 200px;
}

.sign_in {
		margin-left: 200px;
		width: 100px;
}

.links {
	position: absolute;
	top: 80%;
	font-size: 10pt;
}

#logo {
	color: darkgreen;
	width: 100%;
	font-size: 50pt;
	margin: 10px;
	text-align: center;
}
