// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-holder {
	position: relative;
	margin: 0 auto;
	width: 182px;
	box-shadow: 0px 0px 2px 1px black;
	height:232px;
}

.pic {
	height: 150px;
	width: 150px;
}

.title {
	float: left;
}

.detail {
	float: right;
}

.store-container {
	width: 960px;
}