// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mycart {
	float: right;
	min-height: 200px;
	width: 200px;
	background: white;
	border: 1px solid black;
	margin: 4px;

	p {
		width: 100%;
		background: lightgray;
	}
}

.item-holder {
	margin: 0px;
	margin-top: 15px;
	width: 222.75px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.8);
	text-align: center;
	background: white;
	border-radius: 5px;
	display: inline-block;

	img {
		width: 200px;
		margin: 10px auto 0px auto;
		border: 1px solid black;
	}

	p {
		margin: 3px 15px;
	}

	&:hover {
		background: lightblue;
	}
}

.name {
	float: left;
	margin-left: 15px;
	font-size: 11pt;
}

.price {
	float: right;
	margin-right: 15px;
	font-size: 11pt;
}

.store-container {
	width: 960px;
	margin: 0px auto;
	text-align: center;
}

.detail {
	position: relative;
	left: 0;
	margin: 10px;
	width: 450px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.8);
	text-align: center;
	background: white;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;

	img {
		width: 200px;
		float: left;
		border: 1px solid black;
	}

	div {
		margin: 3px 15px;
	}

	&:hover {
		background: lightblue;
	}

	.deets {
		float: right;
		width: 200px;
		text-align: left;
	}

	.det-name {
		width: 50%;
		float: left;
	}

	.det-desc {
		font-size: 9pt;
		float: left;
		width: 100%;
	}

	.det-price {
		float: right;
		top: -20px;
	}

	.cart {
		position: absolute;
		right: 120px;
		bottom: 5px;
		width: 100px;
	}

	.det-links {
		position: absolute;
		bottom: 5px;
		right: 0;
	}
}

@media screen and (max-width: 960px) {
	.store-container {
		width: 715px;
	}
}

@media screen and (max-width: 715px) {
	.store-container {
		width: 480px;
	}
}

@media screen and (max-width: 480px) {
	.store-container {
		width: 320px;
	}
}
