<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Nerdz 'R' Us</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
        <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
        <% else %>
        <li class="active"><%= link_to 'Sign In', new_user_session_path %>
        <% end %>
        <li class="has-dropdown">
        <% if user_signed_in? %>
          <a href="#"><%= link_to 'Account Details', selections_url %>
          <% end %>
          <ul class="dropdown">
            <li><a href="#">My Account</a></li>
          </ul>
        </li>
        <li class="active"><i class="fa fa-shopping-cart"></i></li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to 'Browse the Store', items_url %></li>

        <!-- Uncomment to include a search bar -->
        <!-- <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li> -->

      </ul>
    </section>
  </nav>
</div>
